//Global Styles

@font-face {
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Light.eot");
  src: url("../../assets/fonts/OpenSans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/OpenSans-Light.woff2") format("woff2"),
    url("../../assets/fonts/OpenSans-Light.woff") format("woff"),
    url("../../fonts/OpenSans-Light.ttf") format("truetype"),
    url("../../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #000000;
  color: $primary-color;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $absolute-sizing;
}

a {
  text-decoration: none;
  color: $primary-color;
}

//Header
.header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 7.6rem;
  margin-bottom: 3.8rem;
  height: $absolute-sizing;
  padding: 4rem;
  @include tablet {
    align-items: center;
  }
  @include desktop {
    justify-content: flex-start;
  }
}

.img,
.selector {
  padding: 2rem;
  display: block;
}

.small-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem;
  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
    flex-flow: row;
    padding: 1rem;
    width: 45%;
  }
  .img {
    width: 40%;
    img {
      width: 80%;
      height: 50%;
      @include tablet {
        max-width: 30%;
      }
    }
  }
}

.selector h1 {
  margin: 10px;
  font-size: 0.8rem;
}
//Top Stories
.loader {
  position: relative;
}

.loader img {
  height: 100px;
  width: 100px;
  margin-left: 50%;
  display: none;
}

.top-stories {
  width: 100%;
}
.top-stories ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  margin: 0 auto;

  .stories {
    background: #211f1f;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.6));
    position: absolute;
    bottom: 0;
    padding: 1rem;
  }

  li {
    a {
      height: 400px;
      display: block;
    }
    height: $absolute-sizing;
    width: $absolute-sizing;
    position: relative;
    list-style: none;

    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 25%;
    }
  }
}
//Footer
footer h2 {
  color: #c2c2c2;
  text-align: center;
  font-size: 0.9rem;
  padding: 2%;
  @include desktop {
    text-align: left;
  }
}
